.post {
  overflow: hidden;
	position: relative;
	width: 50%;
  height: 360px;
  .post-background {
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0 1000px rgba(black, 0.2) inset;
    transition: all 350ms ease-in-out;
    height: 100%;
    .post-content {
      position: absolute;
      bottom: 0;
      padding: 30px;
      width: 100%;
      color: white;
      .post-title {
        position: relative;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 42px;
        margin-bottom: 20px;
        &:before {
          transition: all 0.5s;
          content: " ";
          display: block;
          position: absolute;
          left: 0;
          bottom: -8px;
          height: 8px;
          width: 0;
          background-color: white;
          left: 0;
          right: 0;
        }
      }
      .post-description {
        font-size: 16px;
        line-height: 22px;
        width: 75%;
        padding-bottom: 20px;
      }
      .post-comments {
        font-style: italic;
        font-size: 16px;
        padding-bottom: 10px;
        padding-right: 10px;
      }
      .post-info {
        font-size: 1.4rem;
        letter-spacing: 2px;
        font-weight: 600;
        text-transform: uppercase;
        .post-date {
          float: right;
          text-transform: none;
        }
      }
    }
    &:hover {
      box-shadow: 0 0 0 1000px rgba(black, 0.4) inset;
      .post-content {
        .post-title:before {
          width: 100px;
        }
      }
    }
  }
  .post-actions {
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: white;
    visibility: hidden;
    opacity: 0;
  }
  &:hover {
    .post-actions {
      transition: 0.5s all;
      visibility: visible;
      opacity: 1;
    }
  }
}